{% load i18n adminmedia %}
{{ inline_admin_formset.formset.management_form }}
{{ inline_admin_formset.formset.non_form_errors }}
<div class="inline-group" id="{{ inline_admin_formset.formset.prefix }}-group">
  <h2>Storymarket options</h2>
  {% for inline_admin_form in inline_admin_formset %}
    <div class="inline-related{% if forloop.last %} empty-form last-related{% endif %}" id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
      {% if inline_admin_form.original %}
        <h3><b>Last uploaded to Storymarket on {{ inline_admin_form.original.last_updated|date:"F j, Y \a\t H:m a" }}</b></h3>
      {% endif %}
      {% if inline_admin_form.form.non_field_errors %}{{ inline_admin_form.form.non_field_errors }}{% endif %}
      {% for fieldset in inline_admin_form %}
        {% include "admin/includes/fieldset.html" %}
      {% endfor %}
      {% if inline_admin_form.has_auto_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
      {{ inline_admin_form.fk_field.field }}
    </div>
  {% endfor %}
</div>